body {
  margin: 0;
  min-width: 320px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
